@page "{id:int}"
@model ProductModel
@{
    if (Model.ErrorMessage != null)
    {
        <p>@Model.ErrorMessage</p>
        return;
    }

    <div style="display: flex; justify-content: center; align-items: top;">
        <div style="padding: 15px;">
        <img src="@Model.Product.ImageUrl" alt="Product Image" style="width: 300px">
        </div>
        <div style="padding: 15px;">
        <h3>@Model.Product.Model</h3>
        <p>ОС: @Model.Product.OS</p>
        <p>Диагональ: @Model.Product.Diagonal ''</p>
        <p>Количество ядер: @Model.Product.Cores</p>
        <p>Объем оперативной памяти: @Model.Product.Cores ГБ</p>
        <p>Емкость аккумулятора: @Model.Product.BatteryCapacity мА*ч</p>
        <p>Год выпуска: @Model.Product.ReleaseYear</p>
        <p>Цена: 

        @if (Model.Product.DefaultPrice > Model.Product.CurrentPrice)
        {
            <s>@Model.Product.DefaultPrice</s>
        }
            @Model.Product.CurrentPrice
        руб
        </p>
        
        <form method="post">
            <button type="submit" class="btn btn-success" asp-page-handler="AddToCart" asp-route-productId="@Model.Product.Id">Добавить в корзину</button>
        </form>
        </div>   
    </div>
}