@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>База данных дисциплин кафедры АВТ</h2>

<table class="table" style="margin-top: 100px; margin-left: auto; margin-right: auto;">
    <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Часы</th>
            <th>Часы лекций</th>
            <th>Часы лаб. работ</th>
            <th>Зачёт/экзамен</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
@foreach (var discipline in Model.Disciplines)
{
    <tr>
        <td>@discipline.Name</td>
        <td>@discipline.Hours</td>
        <td>@discipline.LectureHours</td>
        <td>@discipline.LabHours</td>
        <td>@discipline.CertificationType</td>
        <td><a style="text-decoration: none" asp-page="Insert" asp-route-id="@discipline.Id">Изменить</a></td>
        <td><a style="text-decoration: none" class="link-danger" asp-page="Delete" asp-route-id="@discipline.Id">Удалить</a></td>
    </tr>
}
</table>

<form action="Insert">
    <input type="submit" class="btn btn-primary" value="Добавить" />
</form>

</div>